<div class="toolbar">
  <mat-toolbar>
    <span>My Application</span>
  </mat-toolbar>
</div>

<mat-tab-group>
  <mat-tab label="One">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="genre">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.genre}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div style="text-align:center">
      <button mat-raised-button (click)="openDialog()">Add Movie</button>
    </div>

  </mat-tab>

  <mat-tab label="Two">

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput (keyup)="returnMovies($event)" placeholder="Search a movie">
      </mat-form-field>
    </form>

    <ul>
      <li *ngFor="let movieName of movieNames">
        {{ movieName }}
      </li>
    </ul>

  </mat-tab>

</mat-tab-group>
